<!--File Name: contact.html
Author's Name: Divneet Sethi
Website Name: Divneet Sethi Personal Portfolio (divneetsethi.github.io)
File Description: conatact me page-->
 
    <!--Navigation bar-->
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="/">Divneet Sethi</a></h1></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="https://github.com/DivneetSethi" target="_blank">GitHub</a></li>
                <li><a href="/contact" style="color:#FF6600"><b>Contact Me</b></a></li>
            </ul>
        </section>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="https://ca.linkedin.com/pub/divneet-singh-sethi/80/b21/915"><img src="/images/linkedin-logo.png" width="30" height="30" /></a></li>
            </ul>
        </section>
    </nav>

    <!--Bread crumbs-->
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="/contact">Contact Me</a></li>
    </ul>
    <div class="row">
        <!--<div class="large-3 columns">
            <img src="assets/image/pic.jpg" />
        </div>-->

        <div class="large-12 columns">
            <div class="panel">
                <h2>Divneet Sethi</h2>
                <h5>Toronto, Canada | Software Developer</h5>
                <p align="justify"><b>C:</b> (416) 918-2906&nbsp&nbsp&nbsp&nbsp<b>Email</b>: divneet91@yahoo.com<br />56 Pebblestone Circle, Brampton, ON L6X4N2 Canada</p>
                
                <a href="assets/DivneetSethi_Resume.pdf" download="DivneetSethi_Resume.pdf" class="button round">Download Resume</a>
            
            </div>
        </div>
    </div>
    <hr />

    <!--Responsive Form-->
    <div class="row">
     <h4>Leave Me a Message</h4>
        <form>
				  <div class="row">
				    <div class="large-12 columns">
				      <label><b>Subject*</b></label>
				      <input type="text" placeholder="Enter subject here" id="txtSubject" />
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-6 medium-6 columns">
				      <label><b>Name*</b></label>
				      <input type="text" placeholder="Your name here" id="txtName" />
				    </div>
				    <div class="large-6 medium-6 columns">
				      <label><b>Email*</b></label>
                        <input type="text" placeholder="Your email here" id="txtEmail" />
				    </div>  
				  </div>
				  <div class="row">
				    <div class="large-12 columns">
				      <label><b>Message*</b></label>
                        <textarea placeholder="Enter your message here" rows="6" id="txtMessage"></textarea>
				    </div>
				  </div>
            <div class="row">
                <div class="large-2 columns">
                    <a class="round button" onclick="validateContactForm()" id="btnSendMail">Send Mail</a>
                </div>
                <div class="large-10 columns">
                    <p><big><i><small>*All fields are compulsary</small></i></big></p>
                </div>
            </div>
		</form>
    </div>
    <hr />

    <!--Keep Connected Panel-->
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <h3>Keep Connected...</h3>
                <ul class="small-block-grid-2">                    
                    <li><a href="https://ca.linkedin.com/pub/divneet-singh-sethi/80/b21/915" target="_blank"><img src="/images/linkedin-logo.png" align="right" /></a></li>
                    <li><a href="https://www.facebook.com/divneet.sethi" target="_blank"><img src="/images/facebook-logo.png" /></a></li>
                </ul>
            </div>
        </div>
    </div>
   