<div class="footer" style="color:#aaa;text-align:center;line-height:50px">
&copy;Copyright Divneet Sethi 2015&nbsp;|&nbsp;<a href="terms.html">Terms of Use</a>&nbsp;|&nbsp;<a href="privacy.html">Privacy</a>
</div>