<!--File Name: projects.html
Author's Name: Divneet Sethi
Website Name: Divneet Sethi Personal Portfolio (divneetsethi.github.io)
File Description: my projects and work. includes screenshots and links-->

    <!--Navigation bar-->
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="/">Divneet Sethi</a></h1></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects" style="color:#FF6600"><b>Projects</b></a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="https://github.com/DivneetSethi" target="_blank">GitHub</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </section>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="https://ca.linkedin.com/pub/divneet-singh-sethi/80/b21/915"><img src="/images/linkedin-logo.png" width="30" height="30" /></a></li>
            </ul>
        </section>
    </nav>

    <!--Bread crumbs-->
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="/projects">Projects</a></li>
    </ul>

    <!--Featured work slider-->
    <div class="row">
        <div class="large-12 columns">
            <h2 align="center">Featured Work</h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <iframe src="http://slideful.com/v20150116_1113728378173688_ijf.htm" frameborder="0" style="border:0px;padding:0px;margin:0px;width:640px;height:310px;" allowtransparency="true"></iframe>
        </div>
    </div>
    <hr />

    <!--Projects pics and links-->
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <h3 align="center"><b>View my Work</b></h3>
                <ul class="small-block-grid-3">
                    <li align="center" style="text-align: center"><a href="https://github.com/DivneetSethi/Assignment1COMP308/tree/index" target="_blank"><img src="/images/work1.jpg" /><br /><br />Personal Portfolio</a></li>
                    <li align="center"  style="text-align: center"><a href="http://thecafeshoppe.in/cafe/index.jsp" target="_blank"><img src="/images/work2.jpg" /><br /><br />The Cafe Shoppe</a></li>
                    <li align="center"  style="text-align: center"><a href="https://github.com/COMP313EasySplit/WebServices" target="_blank"><img src="/images/work3.jpg" /><br /><br />Easy Split</a></li>
                </ul>
            </div>
        </div>
    </div>