<!--File Name: terms.html
Author's Name: Divneet Sethi
Website Name: Divneet Sethi Personal Portfolio (divneetsethi.github.io)
File Description: terms and conditions of use-->

    <!--Navigation bar-->
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="index.html">Divneet Sethi</a></h1></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="https://github.com/DivneetSethi" target="_blank">GitHub</a></li>
                <li><a href="contact.html">Contact Me</a></li>
            </ul>
        </section>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="https://ca.linkedin.com/pub/divneet-singh-sethi/80/b21/915"><img src="assets/image/linkedin-logo.png" width="30" height="30" /></a></li>
            </ul>
        </section>
    </nav>

    <!--Bread crumbs-->
    <ul class="breadcrumbs">
        <li class="current">Terms of Use</li>
    </ul>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h1 align="middle">Terms of Use</h1>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="large-12 columns">
            <p align="center">
                <b>All rights reserved.</b><br />
            <p>
                By visiting, using and/or submitting information to the Website, you accept the terms and conditions of the Terms of Use and Privacy Statement.<br />
                You are entitled to access and use the Website for only lawful purposes of personal use. The Website, logos, video materials, pictures and graphics, are
                proprietary solely to Divneet Sethi(the owner of this website). The data and content viewable on and contained in the Website, including, without limitation,
                all video materials, pictures, photographs, text, graphics, images, icons, line art and other renditions (the “Content”) is copyrighted by Divneet Sethi.<br />
                Aside from the quotes, codes, stories, videos, and all other content on this site is the property of Divneet Sethi and is not allowed to be copied, reproduced,
                transmitted, publicized, downloaded, or (re)distributed in any way, shape, or form without her written permission.<br />
                Links to other websites<br />Our website contains links to other websites of interest. However, once you have used these links to leave our site,
                you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information
                which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement
                applicable to the website in question.<br /><br />
                <b>Your Consent:</b> By using this site, you consent to the terms of use.<br /><br />
                <b>These terms of use were updated in January 2015.</b>
            </p>
        </div>
    </div>
